<h2>タイトル</h2>
<p>
    毎日開けてる冷蔵庫
    でもうっかりこの食材忘れてた
    そんなことをなくすためのサイトです。
  </p>
  <% if user_signed_in? %>
      <%= link_to "冷蔵庫一覧", foods_path, class: "btn btn-outline-info rounded-pill" %>
    <% else %>
      <%= link_to "ログイン", new_user_session_path, class: 'btn btn-outline-info rounded-pill' %>
    <% end %>
    <h2>アプリ説明</h2>
      <p>
        冷蔵庫の今ある食材の中身を<br>
        確認、管理できるサービスです。
      </p>
