<h1><%= @user.email%>のページ</h1>

<strong>プロフィール画像:</strong>
<% if @user.image? %>
  <%= image_tag @user.image.url, size: '200x200' %>
<% else %>
  <%= image_tag 'icon.png', size: '200x200' %>
<% end %>

<br>
<%= link_to 'アカウント編集', edit_user_path %>

