<div class="text-center"><h1><%= @user.email%> さんのページ</h1>

<strong>プロフィール画像:</strong>
<% if @user.image? %>
  <%= image_tag @user.image.url, size: '200x200' %>
<% else %>
  <%= image_tag 'icon.png', size: '200x200' %>
<% end %>
<br>
<br>
  <div class="text-center">
    <%= link_to 'ユーザー編集', edit_user_registration_path, class: "btn btn-info" %>
  </div>
</div>