<h1 class="text-center">商品追加</h1>
<br>
<div class="text-center">
  <%= render 'form', food: @food %>
</div>
<br>
<div class="text-center">
  <%= link_to '戻る', foods_path, class: "btn btn-secondary" %>
</div>
