<p class="text-center">
  <strong class="text-center">商品名</strong>
  <%= @food.name %>
</p>

<p class="text-center">
  <strong>期限</strong>
  <%= @food.due_time.strftime("%Y/%m/%d %H:%M") %>
</p>

<div class="text-center">
  <%= link_to '編集', edit_food_path(@food), class: "btn btn-success" %>
</div> |
<div class="text-center">
  <%= link_to '戻る', foods_path, class: "btn btn-primary" %>
</div>
