<p>
  <strong>商品名</strong>
  <%= @food.name %>
</p>

<p>
  <strong>期限</strong>
  <%= @food.due_time.strftime("%Y/%m/%d %H:%M") %>
</p>

<%= link_to '編集', edit_food_path(@food) %> |
<%= link_to '戻る', foods_path %>
