.main-container {
  background-image: image-url("italian-cuisine-2378729_1280");
  height: 700px;
  width: 100%;
  background-size: cover;
  position: relative;
}

.main-container h2 {
  position:absolute;
  top: 10%;
  left: 50%;
  color: rgb(255, 255, 255);
  size: 10px;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.main-container h3 {
  position: absolute;
  top: 30%;
  left: 50%;
  color: rgb(255, 255, 255);
  size: 10px;
  margin-right: -50%;
  transform: translate(-50%, -50%) 
}

.btn-container {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}


